services:
  vrt:
    build:
      context: ./
      dockerfile: Dockerfile.test
      args:
        - VITE_API_URL=http://localhost:3000
    environment:
      - CI=${CI}
    ports:
      - "80:80"
      - "3000:3000"
      - "9323:9323"
    volumes:
      - ./playwright-report:/app/playwright-report
      - ./test-results:/app/test-results
      - ./snapshots:/app/snapshots
      - ./tests/:/app/tests
