services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:3000
    environment:
      - CI=${CI}
    ports:
      - "80:80"
      - "3000:3000"
      - "9323:9323"
    volumes:
      - ./test-results:/app/test-results
      - ./snapshots:/app/snapshots
      - ./tests/:/app/tests
    command: >
      sh -c "npm test"
